{# templates/data_collector/template.html.twig #}
{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% if collector.enabled() > 0 %}
        {% set icon %}
            {{ include('@DockerToolbar/Collector/icon.svg') }}
            <span class="sf-toolbar-value">Docker</span>
        {% endset %}

        {% set text %}
            {% for service, properties in collector.services() %}
                <div class="sf-toolbar-info-piece">
                    <b>{{ properties.LABEL }}</b>
                    <a href="{{ properties.URL }}" target="_blank">Open</a>
                </div>
            {% endfor %}
        {% endset %}

        {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: false, additional_classes: 'sf-toolbar-block-right' }) }}
    {% endif %}
{% endblock %}
